.text-item {
  border: 1px solid #ccc;
  margin: 5px;
  max-width: 150px;
  min-height: 80px;
}
.text-item.item-choose {
  border: 1px solid green;
}
.right-pos {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 280px;
  background-color: burlywood;
  box-sizing: border-box;
  padding: 10px;
}
